$blue: #014265;
$yellow: #ffd796;
$font: 'Catamaran', serif;



@import url('https://fonts.googleapis.com/css?family=Crete+Round|Catamaran|Noto+Sans+JP&display=swap');


.transition {
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}



.body {

  font-family: $font !important;
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  min-height: 70vh;
  border-radius: 0.4rem;
  -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

a{
  color:$blue !important;
}

a:hover {
  color:$blue !important;
}


.nav_bg {
  background-color: $blue;
}

.header {
  color : white;
  height : 6rem;

}

.MuiTableCell-root {
  font-family: $font !important;
  font-size : 1rem !important;

}


// landing page


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../src/img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  height: 100vh;
  background-image: url(../src/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');
#titleWrapper {
  font-size : 4rem !important;
  font-family: 'Racing Sans One', cursive;
  flex: 1;
}

#prototype {
  flex: 3.75;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

#categoryGroup1 {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

#categoryGroup2 {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#category {
  flex-direction: column;
  margin-top: 20px;
}


#machineButton {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border-width: 1px;
  cursor: pointer;
  margin-right: 20px;
}

#machineButton:hover {
  background-color: #f2f2f2;
}

#machineImage {
  width: 100px;
  height: 100px;
}

#qualityButton {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border-width: 1px;
  cursor: pointer;
}

#qualityButton:hover {
  background-color: #f2f2f2;
}

#qualityImage {
  width: 100px;
  height: 100px;
}

#materialShortageButton {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border-width: 1px;
  cursor: pointer;
  margin-right: 20px;
}

#materialShortageButton:hover {
  background-color: #f2f2f2;
}

#materialShortageImage {
  width: 100px;
  height: 100px;
}

#technicalIssueButton {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border-width: 1px;
  cursor: pointer;
}

#technicalIssueButton:hover {
  background-color: #f2f2f2;
}

#technicalIssueImage {
  width: 100px;
  height: 100px;
}

#categoryText {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
display: flex;
flex-direction: row;
align-items: center;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}

.dropdown {
position: relative;
display: inline-block;
display: flex;
justify-content: flex-end;
margin-right: 80px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#downTriangle {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}


// dashboard

.card {
  cursor: pointer;
  min-width: 7rem !important;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(255, 255, 255, 0.125) !important;
  border-radius: .25rem;
}


.MuiToggleButton-root.Mui-selected {
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(35, 65, 201, 0.12) !important;
}